In [11]:
%load_ext sql
%sql sqlite://

'Connected: @None'

In [14]:
%%sql

DROP TABLE IF EXISTS Match;
CREATE TABLE Match(Match_ID, Date, Hour, Stadium_ID, Team_ID);
DROP TABLE IF EXISTS Team;
CREATE TABLE Team(Team_ID, Name, City);
DROP TABLE IF EXISTS Stadium;
CREATE TABLE Stadium(Stadium_ID, Name, Address, Capacity, Team_ID);
DROP TABLE IF EXISTS Ticket;
CREATE TABLE Ticket(Ticket_ID, Match_ID, Place_Number, Category, Price);
DROP TABLE IF EXISTS Sell;
CREATE TABLE Sell(Sell_ID, Sell_Date, Ticket_ID, Payment_Method);
INSERT INTO Match VALUES('m1', '2019-09-01', '00:00', 's2', 't3');
INSERT INTO Match VALUES('m2', '2019-09-02', '01:00', 's2', 't1');
INSERT INTO Match VALUES('m3', '2019-09-03', '02:00', 's1', 't4');
INSERT INTO Match VALUES('m4', '2019-09-04', '03:00', 's1', 't3');
INSERT INTO Match VALUES('m5', '2019-09-05', '04:00', 's3', 't3');
INSERT INTO Team VALUES('t1', 'PSG', 'Paris');
INSERT INTO Team VALUES('t2', 'OL', 'Lyon');
INSERT INTO Team VALUES('t3', 'OM', 'Lyon');
INSERT INTO Team VALUES('t4', 'Barcelona F.C.', 'Barcelona');
INSERT INTO Stadium VALUES('s1', 'Parc des Princes', 'Route du stade', 100, 't1');
INSERT INTO Stadium VALUES('s2', 'Parc du Foot', 'Route du stade', 200, 't3');
INSERT INTO Stadium VALUES('s3', 'Jardin des Princes', 'Route du stade', 300, 't2');

 * sqlite://
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [19]:
%%sql
SELECT Team_ID, Name, City FROM Team
WHERE Name LIKE '%O%';

 * sqlite://
Done.

[('t2', 'OL', 'Lyon'),
 ('t3', 'OM', 'Lyon'),
 ('t4', 'Barcelona F.C.', 'Barcelona')]